<%- include('../partials/header') %>
	<table id="list">
		<thead>
		  <tr>
			<th>Position</th>
			<th>Pay</th>
      <th>When</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
		  <% interviewDocs.forEach(function(i) { %>
			<tr>
			  <td><%= i.position %></td>
			  <td><%= i.pay %></td>
        <td><%= i.when %></td>
			  <td><a href="/interviews/<%= i._id %>">DETAILS</a></td>
			</tr>
			<% }); %>
		  </tbody>
		
		</table>
		
<%- include('../partials/footer') %>